<!DOCTYPE html>
<html lang="pl">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
                name="description"
                content="SwaggerUI"
        />
        <title>SwaggerUI</title>
        <link rel="stylesheet" href="{{ asset('swagger/swagger-ui.css') }}" />
    {% endblock %}
</head>
<body>
<div id="content">
    {% block content %}
        <div id="swagger-ui"></div>
        <script src="{{ asset('swagger/swagger-ui-bundle.js') }}"> </script>
        <script src="{{ asset('swagger/swagger-ui-standalone-preset.js') }}"> </script>
        <script>
            window.onload = () => {
                window.ui = SwaggerUIBundle({
                    url: 'swagger/api.php',
                    dom_id: '#swagger-ui',
                    presets: [
                        SwaggerUIBundle.presets.apis,
                        SwaggerUIStandalonePreset
                    ],
                    layout: "StandaloneLayout",
                });
            };
        </script>
    {% endblock %}
</div>
</body>
</html>
